.icon {
    background-image: url('../images/sprite.png');
}
.icon-archive-1 { background-position: -5px -0px; }
.icon-archive-2 { background-position: -80px -0px; }
.icon-archive-3 { background-position: -155px -0px; }
.icon-archive-4 { background-position: -230px -0px; }
.icon-archive-5 { background-position: -305px -0px; }
.icon-archive { background-position: -5px -75px; }
.icon-cloud { background-position: -80px -75px; }
.icon-cn { background-position: -155px -75px; }
.icon-contacts { background-position: -230px -75px; }
.icon-cs { background-position: -305px -75px; }
.icon-ficg { background-position: -5px -150px; }
.icon-idc { background-position: -80px -150px; }
.icon-ideas { background-position: -155px -150px; }
.icon-itech { background-position: -230px -150px; }
.icon-lib { background-position: -305px -150px; }
.icon-mmcs { background-position: -5px -225px; }
.icon-other { background-position: -80px -225px; }
.icon-pdc { background-position: -155px -225px; }
.icon-peri { background-position: -230px -225px; }
.icon-questions { background-position: -305px -225px; }
.icon-rules { background-position: -5px -300px; }
.icon-se { background-position: -80px -300px; }
.icon-sms { background-position: -155px -300px; }
.icon-tcsd { background-position: -230px -300px; }
.icon-tssd { background-position: -305px -300px; }
.icon-wad { background-position: -5px -375px; }
